<div class="container">
  <h1>Products</h1>
  <hr />
  {{#each products}}

    <article>
      <p><strong>Title</strong>: {{title}}</p>
      <p><strong>Category</strong>: {{category}}</p>
      <p><strong>Description</strong>: {{description}}</p>
      <p><strong>Stock</strong>: {{stock}}</p>
      <p><strong>Price</strong>: {{price}}</p>
      <p><strong>Status</strong>: {{status}}</p>
      <p><strong>Thumbnails</strong>: {{thumbnails}}</p>
    </article>

  {{/each}}
</div>